<!DOCTYPE html>
<html>
  <head>
    <title>Jobp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header_bar">
      <h1>Jobp App</h1>
    </header>
    <%= yield %>
  </body>
</html>
